<div class="row votes">
	
	<div class="col-md-8">

		<div *ngFor="let user of users">
		<div class="well">

			<ul class="list-group">
				<li class="list-group-item"> Name: {{ user.name }} </li>
				<li class="list-group-item"> Email: {{ user.email }} </li>
				<li class="list-group-item"> Phone: {{ user.phone }} </li>			
			</ul>

			
			<button class="btn btn-danger btn-sm" (click) = "onDeleteClick(user.id)" >Delete</button>
			<br>
			
		</div>
	
		</div>
		
	</div>

	<div class="col-md-4 vote-bar">
		<h4 style="text-align: left;">DISCLAIMER: <br></h4>
		<p>The terms and conditions below apply to all users. Accessing and/or using this website is therefore bound with accepting the following terms and conditions:-</p>
		<p>Many things in life don’t make sense. This component for example. AngularJS FAQ thinks it’s a great idea to have this section. So here it is:</p>
		<ul>
			<li>These quotes are the public opinions of some folks guy on the net.</li>
			<li>Don’t take it personal or even serious.</li>
			<li>It might not be the truth! Some thhings said here was meant for comedic effect.</li>
			<li>No topic is taboo even if it’s your religion.</li>
			<li>Free speech is a cornerstone of my and your human rights.</li>
			<li>So if you don’t like any of the quotes here feel free to downvote it.</li>
			<li>I hope that the possibility of downvoting will make you feel better.</li>
			<li>If you like what you read, please upvote and be right back for more motivation.</li>
		</ul>

	</div>
	
</div>