<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    fixed nav bar will be here
  </div>
</nav>




  <div class="row" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: red; color: white; text-align: center;">
    <div class="col-md-4">The Developer behind this Angular's fate is under coffee drip</div>
    <div class="col-md-4">&copy 2018 | All rights Reserved</div>
    <div class="col-md-4">
  <!--    <ul>
        <li class="social"><a href="#"></a><span class="fa fa-github"></span></li>
        <li class="social"><a href="#"></a><span class="fa fa-linkedin-square"></span></li>
        <li class="social"><a href="#"></a><span class="fa fa-skype"></span></li>
      </ul> -->
    </div>
  </div>

