<div class="row coffee">

	<div class="col-md-8">
		<br><br><br><br>
		<h1>
			ANGULAR -JS- 6 <br>QUOTES
		</h1>
		<h4>The Application is running on a Fake Online REST API for Testing and Prototyping</h4>

	</div>

	<div class="col-md-4 mostvoted">
		<div class="showmost">
			<h3>Most Voted Quote:</h3>
			<blockquote class="blockquote text-right">
			  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
			</blockquote>
		</div>
		<div class="disclaimer">
			<p>
				<br><br>
				Angular Quotes is a web application where users can create quotes and have those quotes voted on whether they are terrible or are inspirational.
			</p>
		</div>
		
	</div>

</div>